* {
    color: #fff;
}

.roomInner {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
}

.roomInner::after {
    content: '';
    width: 80rem;
    height: 80rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    outline: 20rem solid rgba(0, 0, 0, .4)
}

.roomInner::before {
    content: '';
    width: 80%;
    height: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
    background: url(../../images/smoke.png) no-repeat top;
    background-size: contain;
    opacity: .2;
    filter: brightness(1.5);
}

.desk {
    background: url(../../images/desk.svg) no-repeat;
    background-size: contain;
    height: 20rem;
    width: 25rem;
    text-align: center;
    padding: 1.5rem 2.2rem;
    transform: rotate(15deg);
    transform-origin: center;
    margin-top: 9rem;
    position: relative;
    filter: drop-shadow(15px 18px 0px rgba(255,0,0,.25));
}

.desk::after {

    background: url(../../images/afterdesk.svg) no-repeat top;
    content: '';
    position: absolute;
    filter: brightness(1.5);
    opacity: .1;
    background-size: cover;
    width: 45rem;
    height: 42rem;
    left: -15rem;
    top: 0;
    bottom: 0;
    transform: rotate(-15deg);
    margin: auto;
}

table {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

table tr td:first-child {
    text-align: right;
    vertical-align: bottom;
}

table tr td:last-child {
    text-align: left;
    padding-left: 1rem;
}

table h4 {
    font-size: .9rem;
}

.desk-header {
    font-size: 1.1rem;
    margin: 1.5rem 0 1.2rem;
}

.leftBoard {
    flex: 45%;
    max-width: 45%;
}
