* {
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.yellow-nav {
    color: #ffdc3d;
}

.little {
    font-size: 70%;
}

.footer {
    background: url(../../images/footer-bg.jpg) no-repeat bottom;
    background-size: cover;
}

.white {
    color: #fff;
}

.socialIcons {
    margin: 2rem 0;
}
.socialIcon-item, .ya-share2__item {
    transition: all .3s;
}
a:hover {
    text-decoration: none
}

a.white.link {
    color: #fff!important;
    text-decoration: underline;
}

.footer .header.little,.ya-share2__item:hover  {
    display: block;
}

.footer .footer-nav-menu:hover .header.little {
    text-shadow: 1px 5px 10px red;
}

.socialIcon-item:hover, .ya-share2__icon:hover {
    filter: drop-shadow(1px 5px 10px red);
    transform: translateY(5px);
    transition: all .3s;
}

@media screen and (max-width: 1240px) {
    .socialIcons img {
        width: 2rem;
        height: 2rem;
    }
    .footer .header {
        font-size: .6rem;
        margin-bottom: 1rem;
        display: block;
    }
    .footer .container.for-txt {
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .footer-nav-menu {
        flex: 40%;
        max-width: 40%;
    }
    .footer-nav {
        justify-content: center;
    }
    .socialIcon-item {
        flex: 20%;
        max-width: 20%;
        display: block;
        margin-bottom: 1rem;
    }
    .socialIcons {
        max-width: 45%;
        margin: 2rem auto;
    }
    .footer.section {
        background: url(../../images/footer-bg-mobile.jpg) no-repeat bottom;
        background-size: cover;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 482px) {
    .footer-nav-menu {
        flex: 50% 1;
        max-width: 50%;
    }
    .footer .header {
        font-size: .5rem;
    }
    .socialIcons {
        max-width: 55%;
    }
}

@media screen and (max-width: 402px) {
    .socialIcons {
        max-width: 65%;
    }
    .footer .container.for-txt {
        max-width: 100%;
    }
    .footer .container.for-txt p {
        font-size: .85rem;
        line-height: 1.5;
    }
    .footer.section {
        position: relative;
    }
    .footer.section>div, .footer.section>nav {
        position: relative;
        z-index: 100;
    }
    .footer.section::before {
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}