.carousel {
    background: #f0f0f5;
    padding-bottom: 5rem;
    padding-top: 8rem;
}

.carousel .container {
    max-width: 68%;
}

.goldenEgg {
    position: relative;
}

.afterElem {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 4rem;
    max-height: 80%;
}

.tres-Item {
    box-shadow: 1px 1px 5px grey;
    height: 30rem;
    background: #f7f7f7 url(../../images/tres/egg-bg.png) no-repeat center;
    background-size: 80%;
    border-radius: 3rem;
    outline: none;
    border: none;
    margin: 0 auto;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all .4s
}

.carousel .slick-slide {
    outline: none;
    border: none;
    transform: scale(.85);
    transition: all .7s
}

.carousel .slick-slide>div {
    width: 100%;
}

.tres-Item>img {
    max-width: 38%;
    position: relative;
    bottom: 4rem;
    transition: all .3s;
}

.tres-Name {
    padding: 1.5rem 2.3rem;
    background: #1d2936;
    transform: rotate(-4deg) translate(1rem, -4.25rem);
    color: #fff;
    font-size: 1.15rem;
    transition: all .3s
}

.carousel .slick-slide:not(.slick-center) .tres-Name {
    font-size: 1rem;
    transform: rotate(-4deg) translate(0rem, -3.25rem);
    padding: 1.5rem 1.7rem;
}

.carousel .slick-slide:not(.slick-center) .tres-Item>img {
    max-width: 40%;
    position: relative;
    bottom: 2.5rem;
}

.carousel .slick-slide.slick-center .tres-Item>img {
    max-width: 48%;
    position: relative;
    bottom: 2rem;
    transition: all .3s;
}

.mainSlider {
    position: relative;
}

.carousel .slick-slide {
    transition: all .4s ease-in-out;
}

.carousel .slick-track {
    top: 5rem;
}

.carousel .slick-current {
    transform: scale(1.2);
    transition: all .4s ease-in-out;
    z-index: 15;
    position: relative;
}

.sliderNavigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.sliderNav button {
    border-radius: 50%;
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position: relative;
    display: block;
    background: #ffdb35;
    background: linear-gradient(180deg, rgba(255, 220, 59, 1) 0%, rgba(254, 237, 124, 1) 100%);
    transform: none;
}

.sliderNav button::after {
    content: '';
    position: absolute;
    left: .32rem;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(2px 4px 3px #ffdb35);
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAGYktHRAD/AP8A/6C9p5MAAADHSURBVDhPrdQ9DgFBAMXxIZQ6Ea1QKDUarULjEK6h5QZcwS1EoicKB1CLRCsa4f8kk8hmMh87XvLbzE7xspmZHVNIBV3Uv2+ZWeCNC6aayMkBKrM2aKFUjvgtkztm0BIkxVVm7dFHdHxl8sQcURsUKrPOGMGb2DJ5YYUGnEkps3SM2jBVPTLTwViDf5Tpy3Ya5JRpzdYY4KqJYmLX7IQhvAmVPaBzVkMwvrIteoiOq+wG/ZvJcd0aTZTKEirRdk80kZOMm9aYDxREcOsnlwWrAAAAAElFTkSuQmCC)
}

.sliderNav button.prev {
    transform: rotateY(180deg);
}

.sliderNav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 3.7rem;
    height: 3.7rem;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: 1px 2px 6px gray;
    right: 0;
}

.sliderNav:first-child {
    right: auto;
    left: 0;
}

.carousel .slick-prev:before, .carousel .slick-next:before {
    display: none;
    content: '' !important;
}

.sliderNav button:hover, .carousel .slick-prev:hover, .carousel .slick-prev:focus, .carousel .slick-next:hover, .carousel .slick-next:focus {
    box-shadow: inset 5px 4px 20px #ffdb35;
    background: linear-gradient(180deg, rgba(255, 220, 59, 1) 0%, rgba(254, 237, 124, 1) 100%);
}

.sliderNav button:hover::after {
    animation: movingRight .8s infinite linear
}

@keyframes movingRight {
    0% {
        transform: translateX(-.3rem)
    }
    100% {
        transform: translateX(.3rem);
    }
}

.sliderNav.disabled, .sliderNav.disabled button {
    background: #f0f0f5;
    box-shadow: none;
}

.sliderNav.disabled {
    background: #c7c7c8;
    pointer-events: none;
}

.sliderNav.disabled button::after {
    box-shadow: none;
    border-top: .65rem solid transparent;
    border-bottom: .65rem solid transparent;
    border-left: .65rem solid #c7c7c8;
    filter: none
}

.carousel .slick-list {
    padding: 1.5rem 3rem !important;
    margin: auto;
    height: 43rem;
    overflow-y: visible;
}

[aria-hidden="true"] {
    display: none;
    opacity: 0;
    transition: all .2s ease-in-out
}

[aria-hidden="false"] {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.slidesOf {
    margin-top: 0;
    font-size: 1.5rem;
}

@media screen and (max-width: 1740px) {
    .mainSlider {
        transform: scale(.95);
    }
}

@media screen and (max-width: 1640px) {
    .mainSlider {
        transform: scale(.9);
    }
    .carousel .container {
        max-width: 75%;
    }
}

@media screen and (max-width: 1500px) {
    .mainSlider {
        transform: scale(.85);
    }
    .carousel .container {
        max-width: 80%;
    }
}

@media screen and (max-width: 1370px) {
    .carousel .container {
        max-width: 85%;
    }
}

@media screen and (max-width: 1290px) {
    .carousel .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 1190px) {
    .carousel .container {
        max-width: 95%;
    }
    .mainSlider {
        transform: scale(.8);
    }
}

@media screen and (max-width: 1090px) {
    .carousel .container {
        max-width: 97%;
    }
    .mainSlider {
        transform: scale(.9);
    }
    .tres-Item {
        max-height: 28rem;
    }
}

@media screen and (max-width: 1025px) {
    .carousel .slick-list {
        height: 40rem;
    }
    .mainSlider {
        transform: scale(1);
    }
    .tres-Item {
        width: 20rem;
        height: 30rem;
    }
    .carousel .slick-track {
        top: 2rem;
    }
    .sliderNav {
        right: 5rem;
    }
    .sliderNav:first-child {
        right: auto;
        left: 5rem;
    }
    .carousel .slick-slide, .carousel .slick-slide.slick-current {
        transform: none;
    }
    .slidesOf {
        margin-top: 0;
    }
    .mainSlider {
        margin-top: 0;
    }
    h2.goldenEgg {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .sliderNav {
        right: 0;
    }
    .sliderNav:first-child {
        right: auto;
        left: 0;
    }
    .afterElem {
        margin-left: 2.5rem;
    }
}

@media screen and (max-width: 541px) {
    .afterElem {
        margin: 0;
        left: 0;
        right: 0;
        bottom: -10rem;
        margin: auto;
    }
    h2.goldenEgg {
        margin-bottom: 3rem;
    }
    .tres-Item {
        transform: scale(.85);
    }
    .carousel .slick-list {
        height: 33rem;
    }
}

@media screen and (max-width: 491px) {
    .tres-Item {
        width: 15rem;
        height: 21rem;
        transform: none
    }
    .carousel .slick-list {
        height: 27rem;
    }
    .tres-Name {
        padding: 1rem 2rem;
        font-size: .85rem;
        transform: rotate(-4deg) translate(0rem, -2.25rem);
    }
    .slick-slide.slick-center .tres-Item>img {
        max-width: 54%;
        bottom: 1rem;
    }
    .carousel .slick-slide *{
        transition: all 0s !important;
    }
}

@media screen and (max-width: 420px) {
    .sliderNav {
        top: auto;
        bottom: -2.5rem;
    }
    .tres-Item {
        width: 17rem;
        height: 22rem;
    }
}

@media screen and (max-width: 390px) {
    .carousel .slick-slide, .carousel .slick-slide.slick-current {
        transform: translateX(-1rem);
    }
    .slidesOf {
        margin-top: 1.5rem;
        font-size: 1.2rem;
    }
    .sliderNav {
        top: auto;
        bottom: -4.5rem;
    }
}

@media screen and (max-width: 340px) {
    .carousel .slick-slide, .carousel .slick-slide.slick-current {
        transform: translateX(-1.5rem);
    }
}

@media screen and (max-width: 330px) {
    .carousel .slick-slide, .carousel .slick-slide.slick-current {
        transform: translateX(-2rem);
    }
}

@media screen and (max-width: 321px) {
    .carousel .slick-slide, .carousel .slick-slide.slick-current {
        transform: translateX(-2.5rem);
    }
}