.mechanics {
    padding: 2rem 0;
    background: #fff;
}
.mechanics .container__inner{
    max-width: 80%;
}
.mechanics-step{
    flex-wrap: nowrap;
}
.number-step{
    font-size: 4rem;
}
.mechanics-step p{
    font-size: 1.1rem;
}
.mechanics-inner:first-child{
    max-width: 26%;
}

.number-step::after{
    content: attr(data-num);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: inherit;
    text-align: center;
    text-shadow: none;
    background: linear-gradient(180deg, #ffd82b 20%, #fff086 50%,  #ffd82b 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
