.tresnutye-img {
    margin-left: -11%;
    margin-top: -1.5%;
}
.logo{
    position: relative;
}
.logo img {
    display: block;
    margin: auto;
    position: absolute;
    width: 10rem;
    height: 5rem;
}

.welcome .container {
    max-width: 81%;
}

.tresnutye-img img {
    transform: rotate(-11deg);
    width: 45rem;
}

.naming {
    margin-left: -3.5%;
    margin-top: 1.5%;
}

.welcome {
    padding: 1rem 0;
}

.professor-container {
    margin-right: 0;
    position: relative;
    z-index: -1;
    max-width: 30%;
}

.professor-container img {
    margin-left: 2%;
}

.sponsor.dashed {
    border-radius: 2.5rem;
    padding: 3.5rem;
    max-width: 97%;
    margin: 5.5rem auto 2rem;
    padding-bottom: 2.7rem;
}

.sponsor .col {
    position: relative;
    padding-left: 38%;
}

.sponsor .col::after {
    content: '';
    position: absolute;
    left: -4rem;
    width: calc(43% + 3.5rem);
    height: 216%;
    bottom: -2.6rem;
    background: url(../../images/vlad.png) no-repeat bottom;
    background-size: contain;
}

.sponsor h2 {
    font-size: 1.1rem;
    margin-bottom: 2.2rem;
}

.sponsor p {
    font-size: 1.2rem;
    line-height: 1.72;
}

.sponsor .col-md-8 {
    padding-left: 2.5rem;
}

.sponsor .with-img {
    position: relative;
}

.sponsor .with-img img {
    position: absolute;
    bottom: -2.8rem;
    max-height: 28rem;
    left: -1.2rem;
}

.egg-container {
    margin-top: 1rem;
}

.egg-container h2 {
    transform: scale(1.45) translate(19%, 12%);
    color: #000 !important;
}

.eggImg {
    max-width: 99%;
    margin-top: 0.5%;
    margin-left: -3.5%;
}