@media screen and (max-width: 1821px) {
    .tresnutye-img img {
        transform: rotate(-11deg);
        width: 100%;
    }
    .naming img {
        max-width: 120%;
    }
}

@media screen and (max-width: 1440px) {
    .egg-container h2 {
        transform: scale(1.25) translate(14%, 12%);
        color: #000 !important;
    }
}

@media screen and (max-width: 1297px) {
    .professor-container img {
        max-width: 160%;
    }
    .egg-container h2 {
        transform: scale(1.15) translate(10%, 5%);
    }
}

@media screen and (max-width: 1150px) {
    .egg-container h2 {
        transform: translate(3%, 0%);
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1001px) {
    .egg-container h2 {
        transform: none;
        font-size: 1.1rem;
    }
    .egg-container {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 831px) {
    .egg-container h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .welcome .container {
        max-width: 90%;
    }
    .egg-container {
        flex-wrap: wrap;
    }
    .tresnutye-img {
        flex: 80%;
        max-width: 80%;
    }
    .eggImg {
        max-width: 82%;
        margin-top: -10.5%;
        margin-left: 0;
    }
    .egg-container h2 {
        font-size: 2rem;
        text-align: center;
    }
    .logo {
        flex: 20%;
        max-width: 20%;
    }
    .tresnutye-img img {
        transform: rotate(-11deg);
        width: 120%;
        margin-left: -12%;
    }
    .naming, .professor-container {
        flex: 50%;
        max-width: 50%;
    }
    .naming img, .professor-container img {
        max-width: 120%;
    }
    .data-header {
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 676px){
    .egg-container h2 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 515px){
    .egg-container h2 {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 400px) {
    .welcome .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .naming img {
        max-width: 150%;
        margin-left: 12%;
    }
    .professor-container img {
        max-width: 200%;
        margin-top: 80%;
        margin-left: -60%;
    }
}
@media screen and (max-width: 337px){
    .egg-container h2 {
        font-size: .89rem;
    }
}