.formSearch select, .formSearch option, .formSearch input {
    -webkit-appearance: none;
    border-radius: 2rem;
    border: 1px solid #000;
    padding: .5rem 1.5rem;
    outline: none;
    cursor: pointer;
    padding-right: 2.5rem;
}

.formSearch select, .formSearch input {
    margin-left: 1rem;
    background: url(../../images/arr-down.png) no-repeat;
    background-position: calc(100% - 10px);
    background-size: 18px;
    width: 45%;
    background: #fff;
}

.item-img img {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .2));
}

.section.goods {
    padding-top: 12rem;
    position: relative;
    z-index: 300;
}

.goods .container {
    max-width: 80%;
}

.goods .slick-slide img {
    display: block;
    margin: auto;
}

.goods .item {
    text-align: center;
    max-width: 50%;
}

.goods .sliderNav:first-child {
    right: auto;
    left: -5%;
    top: -35%;
}

.goods .sliderNav:last-child {
    right: -5%;
    left: auto;
    top: -35%;
}

.goods .slick-slide>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1296px) {
    .spInfo h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1092px) {
    .goods .container {
        max-width: 90%;
    }
    .section.goods {
        padding-top: 6rem;
    }
}

@media screen and (max-width: 992px) {
    .spInfo.row {
        flex-wrap: nowrap;
    }
    .spInfo h2 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 850px) {
    .spInfo.row {
        flex-wrap: wrap;
    }
    .spInfo h2 {
        margin-bottom: 3rem;
    }
    .formSearch select:first-child {
        margin: 0;
    }
    .formSearch select {
        max-width: 35%;
    }
    .goods .item {
        max-width: 80%;
    }
    .section.goods {
        padding-top: 4rem;
    }
}

@media screen and (max-width: 700px) {
    .formSearch select {
        max-width: 46%;
        display: block;
        margin: 1rem 0;
    }
    .goods .item {
        max-width: 100%;
    }
    .goods .slick-slide img {
        height: 17rem;
    }
    .goods .slick-list {
        max-width: 80%;
        margin: auto;
    }
    .goods .sliderNav:last-child {
        right: 10%;
    }
    .goods .sliderNav:first-child {
        left: 10%;
    }
    .section.goods {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 540px) {
    .formSearch select {
        max-width: 60%;
        width: 60%;
    }
    .spCarousel.indent-2 {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 470px) {
    .goods .sliderNav:last-child {
        right: 0;
    }
    .goods .sliderNav:first-child {
        left: 0;
    }
    .formSearch select {
        max-width: 70%;
        width: 70%;
    }
    .spInfo h2 {
        font-size: 1.2rem;
    }
    .section.goods {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 390px) {
    .spInfo h2 {
        font-size: 1.1rem;
    }
    .formSearch select {
        max-width: 90%;
        width: 90%;
    }
    .goods .sliderNav:last-child {
        right: -5%;
    }
    .goods .sliderNav:first-child {
        left: -5%;
    }
    .section.goods {
        padding-top: 0;
    }
}

@media screen and (max-width: 365px) {
    .spInfo h2 {
        font-size: .9rem;
    }
}