.welcomeWindow {
    background: url(../../images/mainbg.jpg) no-repeat top;
    min-height: 36.2vw;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.welcomeWindow::before, .welcomeWindow::after {
    content: '';
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: url(../../images/before-welcome.png) no-repeat top;
    background-size: contain;
    left: 15%;
    top: -5%;
}

.welcomeWindow::before {
    animation: bell-shake 25s linear 8.5s infinite;
}

.welcomeWindow::after {
    left: auto;
    right: -1%;
    background: url(../../images/afterwelcome.png) no-repeat top;
    background-size: contain;
    width: 25rem;
    height: 15rem;
    top: -5%;
    animation: bell-shake 17s linear 2.5s infinite;
}

.logo {
    filter: drop-shadow(1px 1px 0px #fff) drop-shadow(0px -1px 0px #fff) drop-shadow(-2px 1px 0px #fff) drop-shadow(1px -1px 0px #fff);
}

.darkBlue {
    color: #1d2936;
}

.date {
    font-weight: 900;
    margin-left: 5rem;
    font-size: 1.5rem;
}

h1 img {
    width: 28rem;
    margin-top: 2rem;
}

.welcome-header {
    margin-left: -6rem;
}

.desk {
    position: relative;
}

.desktext {
    color: #ffdc3d;
    text-transform: uppercase;
    font-family: 'Comix Loud';
    line-height: 2;
    text-align: center;
    transform: rotate(15deg);
    font-size: 1rem;
    max-width: 55%;
    position: absolute;
    top: 5rem;
}

@keyframes bell-shake {
    10% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    20% {
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    30% {
        -webkit-transform: rotateZ(15deg);
        transform: rotateZ(15deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    40% {
        -webkit-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    50% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    60% {
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    70% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

.lamp {
    background: url(../../images/lampN.png) no-repeat top center;
    background-size: contain;
    width: 6rem;
    height: 6rem;
    position: absolute;
    right: 0;
    top: -1rem;
    left: 0;
    margin: auto;
}

.lamp::after {
    position: absolute;
    content: '';
    left: -15rem;
    right: 0;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(241, 226, 226) 1%, rgb(208, 75, 75) 38%, rgb(95, 48, 69) 57%);
    bottom: 0;
    top: -2rem;
    margin: auto;
    opacity: .34;
    -webkit-filter: brightness(2.5);
    filter: brightness(2.5) blur(22px);
}

.lamp::before {
    position: absolute;
    content: '';
    background: yellow;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    filter: blur(7px);
    top: 3rem;
    opacity: .7;
    left: 0;
    right: 0;
    margin: auto;
    animation: 4s blink 0s infinite;
}

.led.on.blink {
    animation: 4s blink 1s infinite;
}

.led.on {
    background: #fff;
    color: #fff;
    margin: 0;
    position: relative;
    left: -20rem;
    display: inline-block;
    width: 31em;
    height: .02em;
    border-radius: 50%;
    top: 3rem;
    vertical-align: text-bottom;
    mix-blend-mode: hard-light;
    transform: scale(.5);
    filter: blur(5px);
}

.led.on:nth-child(2) {
    left: -5rem;
}

@keyframes blink {
    0%, 35%, 60%, 100% {
        box-shadow: inset 0.25em 0.05em 0.25em rgba(255, 255, 255, 0.25), inset -0.25em -0.05em 0.25em 0.5em rgba(0, 0, 0, 0.25), inset 1em 0.05em 0.5em rgba(0, 0, 0, 0.5);
    }
    5%, 50% {
        box-shadow: 0 0 0.25em 0.1em, 0 0 3em 0.5em;
    }
    10%, 55% {
        box-shadow: inset 0.25em 0.15em 0.25em rgba(255, 255, 255, 0.25), inset -0.25em -0.25em 0.15em 0.5em rgba(0, 0, 0, 0.25), inset 1em 0.5em 0.5em rgba(0, 0, 0, 0.5);
    }
}