.mapContainer {
    width: 100%;
    padding-bottom: 45%;
    position: relative;
    z-index: 200;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../images/map.jpg) no-repeat;
    background-size: cover;
    margin: auto;
    z-index: 500;
}

.searchingFormMap {
    position: absolute;
    background: linear-gradient(#f7f7f7 50%, #e7e8ee);
    top: 15%;
    margin: auto;
    height: auto;
    width: 20%;
    left: 5%;
    padding: 3.5rem 2rem;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .2);
    border-radius: 2rem;
    z-index: 500;
}

.searchingFormMap::after {
    content: '';
    position: absolute;
    top: -28%;
    left: -15%;
    height: 50%;
    width: 50%;
    background: url(../../images/map-after.png) no-repeat bottom;
    background-size: contain;
}

.searchingFormMap form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchingFormMap form.formSearch select, .searchingFormMap form.formSearch input {
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
}

.mapContainer h2 {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.mapContainer .button-s {
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 1737px) {
    .searchingFormMap {
        width: 22%;
    }
}

@media screen and (max-width: 1580px) {
    .searchingFormMap {
        width: 24%;
    }
}

@media screen and (max-width: 1449px) {
    .searchingFormMap {
        width: 26%;
    }
}

@media screen and (max-width: 1337px) {
    .searchingFormMap {
        width: 28%;
    }
}

@media screen and (max-width: 1242px) {
    .searchingFormMap {
        width: 30%;
    }
}

@media screen and (max-width: 1159px) {
    .searchingFormMap {
        left: 7%;
        top: 17%;
        padding: 2.5rem 2rem;
    }
    .mapContainer h2 {
        font-size: .8rem;
    }
    .mapContainer .button-s small {
        font-size: .6rem;
    }
    .mapContainer .button-s {
        padding: .5rem 1rem;
    }
}

@media screen and (max-width: 970px) {
    .searchingFormMap {
        width: 32%;
        top: 20%;
    }
    .mapContainer h2 {
        font-size: .75rem;
        margin-bottom: 1.5rem;
    }
    .searchingFormMap form.formSearch select, .searchingFormMap form.formSearch input {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 865px) {
    .searchingFormMap {
        width: 36%;
    }
    .searchingFormMap .formSearch select {
        width: 100%;
        max-width: 100%;
    }
    .mapContainer {
        padding-bottom: 56%;
    }
}

@media screen and (max-width: 769px) {
    .searchingFormMap {
        width: 40%;
    }
    .mapContainer {
        padding-bottom: 65%;
    }
}

@media screen and (max-width: 692px) {
    .searchingFormMap {
        width: 50%;
    }
    .mapContainer {
        padding-bottom: 75%;
    }
}

@media screen and (max-width: 562px) {
    .mapContainer {
        padding-bottom: 130%;
    }
    .searchingFormMap {
        left: 0;
        right: 0;
        margin: auto;
        bottom: 2%;
        width: 70%;
        z-index: 500;
        top: auto;
    }
}
@media screen and (max-width: 400px) {
    .mapContainer {
        padding-bottom: 200%;
    }
    .searchingFormMap {
        width: 95%;
    }
    .searchingFormMap::after{
        left: -6%;
        transform: rotate(23deg);
        transform-origin: 50% 50%;
        top: -30%;
    }
}