* {
    margin: 0;
    padding: 0;
    box-sizing: border-bbox;
    font-family: 'Ubuntu', sans-serif;
}

@font-face {
    font-family: 'Comix Loud';
    src: url(../fonts/16143.otf);
}

#root {
    max-width: 100%;
    overflow: hidden;
}

p {
    margin: 0;
    font-size: .85rem;
    line-height: 2.2;
}

.container__inner {
    max-width: 80%;
    margin: auto;
}

.section {
    padding: 5rem 0
}

.flexing {
    display: flex;
}

.header, .number-step {
    font-family: 'Comix Loud';
    text-transform: uppercase;
    line-height: 2;
}

.centred {
    text-align: center;
}

.yellow {
    color: #ffdb35;
    text-shadow: -0 -4px 1px #000000, 0 -4px 1px #000000, -0 4px 1px #000000, 0 4px 1px #000000, -4px -0 1px #000000, 4px -0 1px #000000, -4px 0 1px #000000, 4px 0 1px #000000, -1px -4px 1px #000000, 1px -4px 1px #000000, -1px 4px 1px #000000, 1px 4px 1px #000000, -4px -1px 1px #000000, 4px -1px 1px #000000, -4px 1px 1px #000000, 4px 1px 1px #000000, -2px -4px 1px #000000, 2px -4px 1px #000000, -2px 4px 1px #000000, 2px 4px 1px #000000, -4px -2px 1px #000000, 4px -2px 1px #000000, -4px 2px 1px #000000, 4px 2px 1px #000000, -3px -4px 1px #000000, 3px -4px 1px #000000, -3px 4px 1px #000000, 3px 4px 1px #000000, -4px -3px 1px #000000, 4px -3px 1px #000000, -4px 3px 1px #000000, 4px 3px 1px #000000, -4px -4px 1px #000000, 4px -4px 1px #000000, -4px 4px 1px #000000, 4px 4px 1px #000000, -4px -4px 1px #000000, 4px -4px 1px #000000, -4px 4px 1px #000000, 4px 4px 1px #000000;
}

.bigger {
    font-size: 135%;
}

.blue {
    color: #00ebaa;
}

.darkblue {
    color: #349aa8;
}

.deepBlue {
    color: #1d2936;
}

h2 {
    font-size: 1.8rem;
}

h2 span {
    color: #000;
    font-weight: 400;
    font-size: 100%;
    text-shadow: none;
}

.dashed {
    border: 5px dashed #000;
    border-radius: 1rem;
}

.button-s {
    border: none;
    border: 5px solid #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    border-radius: 2rem;
    padding: 1rem 3.5rem;
    background: linear-gradient(180deg, rgba(255, 220, 59, 1) 0%, rgba(254, 237, 124, 1) 100%);
    font-size: 80%;
    font-weight: 900;
    margin: 1rem auto;
    text-align: center;
    outline: none!important;
    transition: all .3s;
    text-shadow: -0 -3px 1px #FFFFFF, 0 -3px 1px #FFFFFF, -0 3px 1px #FFFFFF, 0 3px 1px #FFFFFF, -3px -0 1px #FFFFFF, 3px -0 1px #FFFFFF, -3px 0 1px #FFFFFF, 3px 0 1px #FFFFFF, -1px -3px 1px #FFFFFF, 1px -3px 1px #FFFFFF, -1px 3px 1px #FFFFFF, 1px 3px 1px #FFFFFF, -3px -1px 1px #FFFFFF, 3px -1px 1px #FFFFFF, -3px 1px 1px #FFFFFF, 3px 1px 1px #FFFFFF, -2px -3px 1px #FFFFFF, 2px -3px 1px #FFFFFF, -2px 3px 1px #FFFFFF, 2px 3px 1px #FFFFFF, -3px -2px 1px #FFFFFF, 3px -2px 1px #FFFFFF, -3px 2px 1px #FFFFFF, 3px 2px 1px #FFFFFF, -3px -3px 1px #FFFFFF, 3px -3px 1px #FFFFFF, -3px 3px 1px #FFFFFF, 3px 3px 1px #FFFFFF, -3px -3px 1px #FFFFFF, 3px -3px 1px #FFFFFF, -3px 3px 1px #FFFFFF, 3px 3px 1px #FFFFFF;
}

.button-s:hover, .header.little:hover {
    transition: all .3s;
    transform: translateY(5px);
}

.button-s:hover {
    outline: none !important;
}

.indent {
    margin-top: 3rem;
}

.indent-2 {
    margin-top: 6rem;
}

.indent-3 {
    margin-top: 9rem;
}

.share_li {
    position: relative;
}

.share_li img {
    display: block;
}

.share_li div {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    color: white;
    opacity: 0;
}

.ya-share2__icon {
    width: 41px !important;
    height: 40px !important;
}

.sliderNav .slick-prev:hover,
 .sliderNav .slick-prev:focus, 
 .sliderNav .slick-next:hover, 
 .sliderNav .slick-next:focus {
    background: inherit;
    color: inherit;
}

.sponsor.dashed.startElem {
    padding-left: 35%;
    position: relative;
    overflow: hidden;
}

.startElem::after {
    content: '';
    position: absolute;
    left: 0;
    width: 30%;
    height: 85%;
    bottom: 0;
    background: url(../images/eggStart.svg) no-repeat;
    background-size: 100%;
}

.selectionTable {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid__row.grid-r-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid__row.grid-r-2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.grid-col-2, .grid-col-3 {
    padding-left: 1rem;
    border: 2px solid #fff;
    min-height: 8rem;
    cursor: pointer;
}

.grid-col-2:hover, .grid-col-3:hover {
    position: relative;
}

.grid-col-2:hover::before, .grid-col-3:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .3s;
}

.grid-col-2:hover::before, .grid-col-3:hover::before {
    border: 3px solid #fff;
}

.dix {
    background: url(../images/dixyLogoStart.svg) no-repeat center;
    background-size: cover;
}

.vikt {
    background: url(../images/vikt.svg) no-repeat center;
    background-size: cover;
}

.vikt-k {
    background: url(../images/vikt-k.svg) no-repeat center;
    background-size: cover;
}

.megam {
    background: url(../images/megam.svg) no-repeat center;
    background-size: cover;
}

.deshev {
    background: url(../images/deshev.svg) no-repeat center;
    background-size: cover;
}

.progress-bar {
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #333;
}

.filler {
    background: #1DA598;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

@media screen and (max-width: 1200px) {
    .grid-col-2, .grid-col-3 {
        min-height: 6rem;
    }
}

@media screen and (max-width: 992px) {
    .sponsor.dashed.startElem {
        padding: 2rem;
        padding-left: 25%;
        margin-top: 3rem;
    }
    .startElem::after {
        width: 23%;
        height: 45%;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.2rem;
    }
    .grid__row.grid-r-3 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .grid-col-2, .grid-col-3 {
        min-height: 3.7rem;
    }
    .startingC {
        max-width: 95%;
    }
    .selectionTable {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1.2fr 2.5fr;
    }
    .grid__row.grid-r-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 526px) {
    .sponsor.dashed.startElem {
        padding: 1.5rem;
        padding-left: 1.5rem;
        overflow: visible;
    }
    .startElem::after {
        width: 23%;
        height: 60%;
        bottom: auto;
        top: -74%;
    }
    .startingC h2 {
        padding-left: 25%;
    }
}

@media screen and (max-width: 459px) {
    h2 {
        font-size: 1rem;
    }
    .button-s {
        width: 100%;
        font-size: .65rem;
        padding-left: 0;
        padding-right: 0;
    }
    .selectionTable {
        grid-template-columns: 1fr;
    }
    .grid__row.grid-r-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .grid-col-2, .grid-col-3 {
        min-height: 7rem;
    }
    .startingC h2 {
        padding-left: 0;
        font-size: 1.3rem;
    }
    .startingC .indent-2{
        margin-top: 2rem;
    }
    .sponsor.dashed.startElem {
        padding: 1.3rem;
        padding-left: 1.3rem;
    }
}

@media screen and (max-width: 360px) {
    h2 {
        font-size: .85rem;
    }
    .grid-col-2, .grid-col-3 {
        min-height: 6rem;
    }
}