.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: black;
  pointer-events: auto;
  border-radius: 2rem;
  border: 5px dashed black;
  padding: 2rem;
  max-height: 90%;
  overflow-y: overlay;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h2 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  display: fixed;
}

.modal-close:hover {
  color: black;
}

.containerModal {
  display: grid;
  justify-content: center;
  align-items: center;
}

#info_div {
  margin-top: 30px;
}

/* 
small {
  color: #aaa;
} */

.btn {
  background-color: #fff;
  padding: 1em 1.5em;
  border-radius: 3px;
  text-decoration: none;
}

.btn i {
  padding-right: 0.3em;
}

/* FORM */

.form {
  width: 40%;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid black;
  border-radius: 50px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  flex: 1 1 0%;
}

.form a {
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: rgb(180, 169, 8);
}

.form .message {
  margin: 15px 0 0;
  color: black;
  font-size: 17px;
}

.form .message a {
  color: black;
  text-decoration: none;
}

.form .message p {
  display: inline-block;
}

.politics {
  text-decoration: underline !important;
}

/* CHECKBOX */

input[type=checkbox]+label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.8em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox]+label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked+label:before {
  background-color: rgb(255, 231, 0);
  border-color: rgb(255, 231, 0);
  color: black;
}

input[type=checkbox]:disabled+label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/* ADD IMAGE INSIDE INPUT */

#add_button {
  background-color: rgb(255, 231, 0);
  color: black;
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: 15px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all ease 0.3s;
  line-height: inherit;
}

.subscribe_form button:hover, .subscribe_form button:focus, .subscribe_form button:active, .subscribe_form button:visited {
  color: #fff;
  background-color: rgba(255, 231, 0, 0.77);
  outline: none;
  transition: all ease 0.3s;
}

.subscribe_form button:hover:before, .subscribe_form button:focus:before, .subscribe_form button:active:before, .subscribe_form button:visited:before {
  background-color: rgba(255, 231, 0, 0.77);
  transition: all ease 0.3s;
}

/**/

input[type="file"] {
  display: none;
}

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.inputfile+label {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.no-js .inputfile+label {
  display: none;
}

.inputfile+label {
  text-align: left;
  background: #f2f2f2;
  padding: 0;
  border-radius: 50px;
  border: 1px solid black;
}

.inputfile+label .archive-name, .inputfile+label .btn-inputfile {
  padding: 0;
  height: 50px;
  font-style: normal;
}

.inputfile+label .archive-name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #8e8e8e;
  width: 80%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  text-align: left;
  padding-left: 17px;
  padding-top: 14.5px;
}

.inputfile+label .btn-inputfile {
  width: 20%;
  color: black;
  background-color: #ffdb35;
  position: absolute;
  right: 0;
  background-image: url(../../images/plus.png);
  background-repeat: no-repeat;
  background-position: center;
}

.inputfile:focus+label .btn-inputfile, .inputfile.has-focus+label .btn-inputfile, .inputfile+label:hover .btn-inputfile {
  background-color: #ffdb35;
}

@media screen and (max-width: 1400px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 1100px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 797px) {
  .form {
    width: 70%;
  }
}

@media screen and (max-width: 683px) {
  .form {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .form {
    width: 85%;
  }
}

@media screen and (max-width: 399px) {
  .form {
    width: 95%;
  }
}